html, body{
	margin: 0;
background: #444242;
height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



div{
  
}
.logo{
margin-bottom: 50px;
display: flex;
justify-content: center;
}

.con{
	margin:auto;

padding-bottom: 40px;
padding-top: 40px;
}
.dep div{
padding: 5px 5px;
}
.dep div img{
vertical-align: middle;
	justify-content: center;
}
.menu{
	margin-left: auto;
}
.dep{
	align-items: center;
	padding: 0 12px; 
	vertical-align: middle;
	justify-content: center;
	display: inline-flex;
	background: white;
	border-radius: 50px;
	margin-left: 5px;
}

.tip div{
	
}
.tip{
	display: flex;
	margin:15px;
}

.button{

align-items: center;
background: #FA9401;
border-radius: 50px;
}
.select div,.button div{
	padding: 10px;
}
a .select:hover{
background: #FA9401;

}
a{
	text-decoration: none;
}

.button img,.select img{
vertical-align: middle;
padding-right: 5px;
	justify-content: center;
width: 16px;
height: 16px;

}
.buttons{

	
}

@media only screen and (max-height: 420px) {
  .buttons {
    display: flex;
flex-wrap: wrap;
align-items: center;
  justify-content: center;
  }
}

.button, .select{
margin-top: 15px;
min-width: 265px;
margin-left: 7px;
margin-right: 7px;
}
.button div,.select div{
vertical-align: middle;

	justify-content: center;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

text-align: center;

color: #FFFFFF;
}

.select{
	
	justify-content: center;
align-items: center;
	border: 1px solid #FA9401;
border-radius: 50px;
}

.icon{

}

.nav{

}


.conBot{
	margin-top: auto;

	display: table;
	margin-left: auto;
  margin-right: auto;
margin-bottom: 17px;
}
.bot{
	display: flex;
	
}
.bot div{
	margin-left: 7.5px;
	margin-right: 7.5px;
}


@media (height: 568px) and (width: 320px) {
    html,body{
  	background: #FFB64E;

  }
  .button{
  	background: #FA9401;

border: 2px solid #444242;
  }
  .select{
  	background: #444242;

border: 2px solid #FFFFFF;
  }
}




